.contenedor /*padre*/ {
  background-color: aqua;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 7fr 1fr;
  grid-template-areas:
    "cabecera cabecera cabecera"
    "menu menu menu"
    "contenido contenido publi"
    "pie pie pie";
}
.contenedor > div {
  background-color: chartreuse;
}
.contenedor .cabecera {
  background-color: yellow;
  grid-column: cabecera;
}
.contenedor .menu {
  background-color: coral;
  grid-column: menu;
}
.contenedor .contenido {
  background-color: beige;
  grid-column: contenido;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
.contenedor .contenido .contenido1 {
  background-color: transparent;
  font-size: 25px;
  grid-column: 1/-1;
}
.contenedor .contenido .content {
  background-color: lightblue;
  padding: 20px;
}
.contenedor .publicidad {
  background-color: antiquewhite;
  grid-column: publi;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
.contenedor .publicidad .publicidad1 {
  background-color: transparent;
  font-size: 26px;
  grid-column: 1/-1;
}
.contenedor .publicidad .publi {
  background-color: lightgreen;
  padding: 20px;
}
.contenedor .pie {
  background-color: orange;
  grid-column: pie;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
}
.contenedor .pie .pie1 {
  text-align: center;
  font-size: 26px;
}
.contenedor .pie .realizado {
  text-align: center;
  font-size: 26px;
}
